
<%@ page import="almoxarifado.RegistroBC" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'registroBC.label', default: 'RegistroBC')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-registroBC" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-registroBC" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<th><g:message code="registroBC.alocacao.label" default="Alocacao" /></th>
					
						<th><g:message code="registroBC.bensdeconsumo.label" default="Bensdeconsumo" /></th>
					
						<th><g:message code="registroBC.funcionario.label" default="Funcionario" /></th>
					
						<th><g:message code="registroBC.locador.label" default="Locador" /></th>
					
						<th><g:message code="registroBC.relatorio.label" default="Relatorio" /></th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${registroBCInstanceList}" status="i" var="registroBCInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${registroBCInstance.id}">${fieldValue(bean: registroBCInstance, field: "alocacao")}</g:link></td>
					
						<td>${fieldValue(bean: registroBCInstance, field: "bensdeconsumo")}</td>
					
						<td>${fieldValue(bean: registroBCInstance, field: "funcionario")}</td>
					
						<td>${fieldValue(bean: registroBCInstance, field: "locador")}</td>
					
						<td>${fieldValue(bean: registroBCInstance, field: "relatorio")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${registroBCInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
