
<%@ page import="almoxarifado.Alocacao" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'alocacao.label', default: 'Alocacao')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-alocacao" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-alocacao" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list alocacao">
			
				<g:if test="${alocacaoInstance?.bensdeconsumo}">
				<li class="fieldcontain">
					<span id="bensdeconsumo-label" class="property-label"><g:message code="alocacao.bensdeconsumo.label" default="Bensdeconsumo" /></span>
					
						<g:each in="${alocacaoInstance.bensdeconsumo}" var="b">
						<span class="property-value" aria-labelledby="bensdeconsumo-label"><g:link controller="bensDeConsumo" action="show" id="${b.id}">${b?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
				<g:if test="${alocacaoInstance?.data}">
				<li class="fieldcontain">
					<span id="data-label" class="property-label"><g:message code="alocacao.data.label" default="Data" /></span>
					
						<span class="property-value" aria-labelledby="data-label"><g:formatDate date="${alocacaoInstance?.data}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${alocacaoInstance?.permanente}">
				<li class="fieldcontain">
					<span id="permanente-label" class="property-label"><g:message code="alocacao.permanente.label" default="Permanente" /></span>
					
						<g:each in="${alocacaoInstance.permanente}" var="p">
						<span class="property-value" aria-labelledby="permanente-label"><g:link controller="permanente" action="show" id="${p.id}">${p?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:alocacaoInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${alocacaoInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
