
<%@ page import="almoxarifado.Relatorio" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'relatorio.label', default: 'Relatorio')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-relatorio" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-relatorio" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<th><g:message code="relatorio.registrobc.label" default="Registrobc" /></th>
					
						<th><g:message code="relatorio.registrobp.label" default="Registrobp" /></th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${relatorioInstanceList}" status="i" var="relatorioInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${relatorioInstance.id}">${fieldValue(bean: relatorioInstance, field: "registrobc")}</g:link></td>
					
						<td>${fieldValue(bean: relatorioInstance, field: "registrobp")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${relatorioInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
